{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h5 class="mb-0">Connexion</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="alert alert-info mb-3">
                                Tu es déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="username" class="form-label">Adresse mail</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" name="_remember_me" id="_remember_me">
                                <label class="form-check-label" for="_remember_me">Remember me</label>
                            </div>
                        #}

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Connexion</button>
                        </div>
                        <p>Pas de compte,<a href="register">Inscription</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}